[Desktop Entry]
Version=1
Name=Kotlin Doc
Comment=Kotlin Doc
Icon=/usr/share/icons/maratona-linguagens-doc/scalable/kotlin_logo.svg
Exec=evince /usr/share/doc/maratona-kotlin-doc/kotlin-reference.pdf.gz
Terminal=false
Type=Application
