[Desktop Entry]
Version=1.4
Name=Kotlin Doc
Comment=Kotlin Documentation for version 1.4.20
Icon=/usr/share/icons/maratona-linguagens-doc/scalable/kotlin-original.svg
Exec=evince /usr/share/doc/maratona-kotlin-doc/kotlin-reference.pdf.gz
Terminal=false
Type=Application
