Source: maratona-team-tools
Section: devel
Priority: optional
Maintainer: Bruno Cesar Ribas <bruno.ribas@unb.br>
Build-Depends: debhelper

Package: maratona-linguagens
Architecture: all
Depends: build-essential, default-jre, default-jdk, libstdc++-7-dev, libstdc++6-7-dbg, gdb, python3, pyflakes3, unzip
Description: Pacote com os compiladores das linguagens de programação
 aceitas na maratona
 .
 É um pacote seguro para se instalar em qualquer ambiente Ubuntu e Debian.

Package: maratona-linguagens-doc
Architecture: all
Depends: manpages-dev, gcc-doc, libstdc++-7-doc, default-jdk-doc, python3-doc, cppreference-doc-en-html
Description: Pacote contendo as dependências de documentação das linguagens
 aceitas na maratona
 .
 É um pacote seguro para se instalar em qualquer ambiente Ubuntu e Debian.

Package: maratona-editores
Architecture: all
Recommends: maratona-editores-flatpak
Depends: maratona-linguagens, vim, geany, geany-plugins, geany-plugin-addons, emacs, gedit, gedit-plugins, codeblocks, python3-distutils
Description: Pacote Virtual do Maratona Linux com os editores permitidos
 na maratona
 .
 É um pacote seguro para se instalar em qualquer ambiente Ubuntu e Debian.

Package: maratona-editores-flatpak
Architecture: all
Depends: maratona-flatpak-common
Description: Pacote contendo a instalação via flatpak dos seguintes editores:
 sublime-text, vscode, pycharm-community, intellij-idea-community, eclipse e clion
 .
 É um pacote seguro para se instalar em qualquer ambiente Ubuntu e Debian.

Package: maratona-vscode-extensions
Architecture: all
Depends: maratona-editores-flatpak, debconf
Description: Pacote contendo a instalação das extenções do vscode necessarias para a maratona.
 .
 É um pacote seguro para se instalar em qualquer ambiente Ubuntu e Debian.
 