Source: maratona-team-tools
Section: devel
Priority: optional
Maintainer: Bruno Cesar Ribas <brunoribas@gmail.com>
Build-Depends: debhelper

Package: maratona-linguagens
Architecture: all
Depends: build-essential, default-jre, default-jdk, libstdc++-7-dev, libstdc++6-7-dbg, gdb, python3, pyflakes, pyflakes3, python
Description: Pacote com os compiladores das linguagens de programação
 aceitas na maratona
 .
 É um pacote seguro para se instalar em qualquer ambiente Ubuntu e Debian.

Package: maratona-linguagens-doc
Architecture: all
Depends: manpages-dev, gcc-doc, libstdc++-7-doc, default-jdk-doc, python3-doc, python2.7-doc, cppreference-doc-en-html
Description: Pacote contendo as dependências de documentação das linguagens
 aceitas na maratona
 .
 É um pacote seguro para se instalar em qualquer ambiente Ubuntu e Debian.

Package: maratona-editores
Pre-Depends: maratona-linguagens
Architecture: all
Depends: maratona-linguagens, vim, vim-gnome, geany, geany-plugins, geany-plugin-addons, emacs, gedit, gedit-plugins, gedit-developer-plugins, kate, konsole, codeblocks, python3-distutils, python-distutils-extra
Description: Pacote Virtual do Maratona Linux com os editores permitidos
 na maratona
 .
 É um pacote seguro para se instalar em qualquer ambiente Ubuntu e Debian.

