#! /usr/bin/make -f

override_dh_auto_install:
	# Plugin Eclipse-cdt
	mkdir -p debian/maratona-editores/etc/skel/
	tar -xf plugins/eclipse-cdt.tar.xz -C debian/maratona-editores/etc/skel/

	# Icones na pasta destinada a icones no /usr/share/icons
	mkdir -p debian/maratona-linguagens-doc/usr/share/icons/maratona-linguagens-doc/scalable/
	cp icons/* debian/maratona-linguagens-doc/usr/share/icons/maratona-linguagens-doc/scalable/

	# Criando atalhos do maratona-linguagens-doc em /usr/share/applications
	mkdir -p debian/maratona-linguagens-doc/usr/share/applications/
	cp icones-desktop/* debian/maratona-linguagens-doc/usr/share/applications/

%:
	echo "$@"
	dh $@
